@model AddMovieVM

@{
	ViewBag.Title = "Add Movie";
}

<div style="padding: 20px 0; margin-top: 20px;">
	<h1>@ViewBag.Title</h1>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

<form enctype="multipart/form-data" asp-action="Add" method="post">
	<div class="card p-4">
		<div class="mb-3">
		<label asp-for="@Model.Title" class="form-label">Title: </label>
		<input asp-for="@Model.Title" class="form-control" aria-required="true" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="@Model.GenreId" class="form-label">Genre: </label>
		<select asp-for="@Model.GenreId" class="form-control">
		@foreach (var genre in Model.Genres)
		{
					<option value="@genre.Id">@genre.Name</option>
		}
		</select>
		<span asp-validation-for="GenreId" class="text-danger"></span>
	</div>
	
	<div class="mb-3">
		<label asp-for="@Model.PremiereDate" class="form-label">Premiere Date: </label>
		<div class="custom-file">
			<input asp-for="@Model.PremiereDate" class="form-control custom-file-input" aria-required="true" />
		</div>
		<span asp-validation-for="PremiereDate" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="@Model.ActorsNames" class="form-label">Actors (separated by ", "): </label>
		<div class="custom-file">
			<input asp-for="@Model.ActorsNames" class="form-control custom-file-input" aria-required="true" />
		</div>
		<span asp-validation-for="ActorsNames" class="text-danger"></span>
	</div>

		<hr />
		<input type="submit" class="btn btn-dark" value="Add"/>
	</div>

</form>


@section Scripts {



    <partial name="_ValidationScriptsPartial" />
}